body {
    background-color: #1a2c16; 
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header_div {
    border-top: 2px solid #ffbb00;
    border-left: 2px solid #ffbb00;
    border-right: 2px solid #ffbb00;
    text-align: center;
    display: flex;
}

/* -------------------Menu Bar ---------------- */

.menu_top {
    border-bottom: 2px solid #ffbb00;
    border-left: 2px solid #ffbb00;
    border-right: 2px solid #ffbb00;
    font-family:monospace;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a1a05;
}

li {float: left;}

li a, .category-btn {
    display: inline-block;
    color: bisque;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover:not(.active), a .category-list:hover .category-btn {
    background-color: #ffbb00;
    color: #3a1a05;
}

li a.active {background-color: rgb(194, 125, 21);}

.category-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 5px 10px 0px #ffbb00;
    z-index: 1;
}
  
.category-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.category-list:hover .category-content {
    display: block;
}

/* --------Content-----------  */

.parent {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 400px;
    width: 40%;
    border-radius: 30px 30px 10px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #3a1a05;
    color: azure;
    padding: 8px 16px;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.body {
    margin: 0 20px 20px 20px;
    display: flex;
    align-items: center;
}


.icon.fa.fa-address-card {
    margin: 0 20px 0 20px;
    color: #ffbb00;
    font-size:48px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    border-top: 2px solid #3a1a05;
    margin: 0 20px 0 20px;
    padding: 10px;
}

.btn {
    padding: 4px 14px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;

}

.btn.bg-red {
    background-color: #3a1a05;
    color: #ffbb00;
}

.btn.bg-red:hover {
    background-color: #ffbb00;
    border: 1px solid #3a1a05;
    color: #3a1a05;
}

.btn.bg-white {
    background-color: #ffbb00;
    border: 1px solid #3a1a05;
    color: #3a1a05;
}

.btn.bg-white:hover {
    background-color: #3a1a05;
    border: 1px solid #ffbb00;
    color: #ffbb00;
}
