body {
    background-color: #1a2c16; 
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(31, 170, 175);
}

.btn {
    background-color: #3a1a05;
    color: #ffbb00;
    padding: 4px 14px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.btn:hover {
    background-color: #ffbb00;
    color: #3a1a05;
    border: 1px solid #3a1a05;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.btn-div {
    display: flex;
    flex-direction: row;
}

h5 {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.finalResult {
    font-size: medium;
    font-weight: bold;
}
